name: reservaIoT

services: 
  api:
    build: 
      context: .
      target: production
    container_name: postgres-api
    ports: 
      - "6060:6060" 
    env_file:
      - .env
    depends_on:
      - postgres
  
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

    




